@import 'tailwindcss';

@theme {
  /* - Colores Corporativos: */
  --color-brand: #e7751e; /* Naranja principal de Los Enlaces */
  --color-brand-light: #f3944a;
  --color-brand-dark: #f07619;

  /* - Colores Semánticos: */
  --color-chat-surface: #ffffff; /* Fondo de la ventana */
  --color-chat-canvas: #f9fafb; /* Fondo de la zona de mensajes */

  --color-chat-bubble-user: #e2e8f0; /* Color de la burbuja del usuario */
  --color-chat-bubble-bot: #f3f4f6; /* Color de la burbuja del bot */

  /* - Textos */
  --color-chat-text-main: #1f2937; /* Texto oscuro para los mensajes */
  --color-chat-text-muted: #6b7280; /* Letra pequeña para fuentes y feedback */
  --color-chat-text-inverse: #ffffff; /* Texto blanco (para la cabecera y botones naranjas) */
}
